@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --white: #ffffff;
  --wood: #63462d;
  --darkwood: #442f1d;
  --darkerwood: rgb(63, 41, 22);
  --lightwood: #946841;
  --lighterwood: #af8158;
  --light: #bd9a7a;
  --verylight: #e9d8c8;
  --dark: #352a25;
  --darker: #20140e;
  --gold: #ffd700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  background-color: var(--wood);
  font-family: 'Roboto', sans-serif;
  color: var(--white);
}

a {
  color: var(--white);
  text-decoration: none;
}
